# C++ build artifacts
*.o
*.obj
*.exe
*.out

# Directories
build/
bin/
obj/
tests/build-integration/
tests/build-performance/
tests/build-unit/
tests/data/

# IDE files
.vscode/
.idea/
*.suo
*.user

# Misc
.DS_Store
Thumbs.db
